<body>
<div class="item">
    <a class="header" href="/article1">Title1</a>
</div>
<div class="item">
    <a class="header" href="/article1">Title1 dupe</a>
</div>
<div class="item">
    <a class="header" href="/article2">Title2</a>
</div>
<div class="item">
    <a class="header" href="/article2">Title2 dupe</a>
</div>
<div class="item">
    <a class="header" href="/article3">Title3</a>
</div>
<div class="item">
    <a class="header" href="/article3">Title3 dupe</a>
</div>
</body>
