<body>
<div class="item">
    <a class="title" href="/article1">Title1</a>
</div>
<div class="item">
    <a class="title" href="/article2">Title2</a>
</div>
<div class="item">
    <a class="title" href="/article3">Title3</a>
</div>
<div class="item">
    <a class="title" href="/article3">Title3</a>
</div>
</body>
