<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                    <tr>
                        <td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img
                                src="y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a
                                href="news">Hacker News</a></b>
              <a href="newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a
                                    href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            </span>
                        </td>
                        <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="login?goto=news">login</a>
                          </span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                    <tr class='athing' id='23270581'>
                        <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23270581' href='vote?id=23270581&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://rbitr.github.io/ChartS.css/" class="storylink">Show HN:
                            ChartSS.css - accessible html/css charts with markdown support</a><span
                                class="sitebit comhead"> (<a href="from?site=rbitr.github.io"><span class="sitestr">rbitr.github.io</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23270581">103 points</span> by <a href="user?id=andy99"
                                                                                            class="hnuser">andy99</a>
                            <span class="age"><a href="item?id=23270581">2 hours ago</a></span> <span
                                id="unv_23270581"></span> | <a href="hide?id=23270581&amp;goto=news">hide</a> | <a
                                href="item?id=23270581">18&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23266917'>
                        <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23266917' href='vote?id=23266917&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://devblogs.microsoft.com/commandline/microsoft-open-sources-gw-basic/"
                                class="storylink">The original source code of Microsoft GW-BASIC from 1983</a><span
                                class="sitebit comhead"> (<a href="from?site=microsoft.com"><span class="sitestr">microsoft.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23266917">468 points</span> by <a href="user?id=AlexeyBrin"
                                                                                            class="hnuser">AlexeyBrin</a>
                            <span class="age"><a href="item?id=23266917">14 hours ago</a></span> <span
                                id="unv_23266917"></span> | <a href="hide?id=23266917&amp;goto=news">hide</a> | <a
                                href="item?id=23266917">204&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23271624'>
                        <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23271624' href='vote?id=23271624&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://blogs.nvidia.com/blog/2020/05/22/gamegan-research-pacman-anniversary/"
                                class="storylink" rel="nofollow">40 Years On, Pac-Man Recreated with AI by Nvidia
                            Researchers</a><span class="sitebit comhead"> (<a href="from?site=nvidia.com"><span
                                class="sitestr">nvidia.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23271624">6 points</span> by <a href="user?id=doener"
                                                                                          class="hnuser">doener</a>
                            <span class="age"><a href="item?id=23271624">23 minutes ago</a></span> <span
                                id="unv_23271624"></span> | <a href="hide?id=23271624&amp;goto=news">hide</a> | <a
                                href="item?id=23271624">discuss</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23269351'>
                        <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23269351' href='vote?id=23269351&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://www.math.ucla.edu/~tao/preprints/forms.pdf"
                                             class="storylink">Differential Forms and Integration (2008) [pdf]</a><span
                                class="sitebit comhead"> (<a href="from?site=ucla.edu"><span
                                class="sitestr">ucla.edu</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23269351">70 points</span> by <a href="user?id=luu"
                                                                                           class="hnuser">luu</a> <span
                                class="age"><a href="item?id=23269351">6 hours ago</a></span> <span
                                id="unv_23269351"></span> | <a href="hide?id=23269351&amp;goto=news">hide</a> | <a
                                href="item?id=23269351">16&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23271009'>
                        <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23271009' class="nosee" href='vote?id=23271009&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://arstechnica.com/features/2020/05/the-story-of-cheaper-batteries-from-smartphones-to-teslas/"
                                class="storylink">How battery costs fell six-fold in a decade</a><span
                                class="sitebit comhead"> (<a href="from?site=arstechnica.com"><span class="sitestr">arstechnica.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23271009">48 points</span> by <a href="user?id=vanburen"
                                                                                           class="hnuser">vanburen</a>
                            <span class="age"><a href="item?id=23271009">1 hour ago</a></span> <span
                                id="unv_23271009"></span> | <a href="hide?id=23271009&amp;goto=news">hide</a> | <a
                                href="item?id=23271009">17&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268911'>
                        <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268911' href='vote?id=23268911&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://chrismorgan.info/blog/make-and-git-diff-test-harness/"
                                             class="storylink">Using `make` and `git diff` for a simple and powerful
                            test harness</a><span class="sitebit comhead"> (<a href="from?site=chrismorgan.info"><span
                                class="sitestr">chrismorgan.info</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268911">109 points</span> by <a href="user?id=chrismorgan"
                                                                                            class="hnuser">chrismorgan</a>
                            <span class="age"><a href="item?id=23268911">8 hours ago</a></span> <span
                                id="unv_23268911"></span> | <a href="hide?id=23268911&amp;goto=news">hide</a> | <a
                                href="item?id=23268911">30&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23271178'>
                        <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23271178' href='vote?id=23271178&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://productionreadygraphql.com/blog/2020-05-21-graphql-to-sql/"
                                             class="storylink" rel="nofollow">On GraphQL-to-SQL</a><span
                                class="sitebit comhead"> (<a href="from?site=productionreadygraphql.com"><span
                                class="sitestr">productionreadygraphql.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23271178">16 points</span> by <a href="user?id=danielrearden"
                                                                                           class="hnuser">danielrearden</a>
                            <span class="age"><a href="item?id=23271178">1 hour ago</a></span> <span
                                id="unv_23271178"></span> | <a href="hide?id=23271178&amp;goto=news">hide</a> | <a
                                href="item?id=23271178">6&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23267177'>
                        <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23267177' href='vote?id=23267177&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.loopinsight.com/2020/05/21/scott-forstall-tells-story-about-steve-jobs-microsoft-and-a-dead-fish/"
                                class="storylink">Scott Forstall tells story about Steve Jobs, Microsoft, and a dead
                            fish [video]</a><span class="sitebit comhead"> (<a href="from?site=loopinsight.com"><span
                                class="sitestr">loopinsight.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23267177">198 points</span> by <a href="user?id=shawndumas"
                                                                                            class="hnuser">shawndumas</a>
                            <span class="age"><a href="item?id=23267177">13 hours ago</a></span> <span
                                id="unv_23267177"></span> | <a href="hide?id=23267177&amp;goto=news">hide</a> | <a
                                href="item?id=23267177">91&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23270100'>
                        <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23270100' href='vote?id=23270100&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3409578"
                                             class="storylink">The Paradox of Source Code Secrecy</a><span
                                class="sitebit comhead"> (<a href="from?site=ssrn.com"><span
                                class="sitestr">ssrn.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23270100">24 points</span> by <a href="user?id=BerislavLopac"
                                                                                           class="hnuser">BerislavLopac</a>
                            <span class="age"><a href="item?id=23270100">4 hours ago</a></span> <span
                                id="unv_23270100"></span> | <a href="hide?id=23270100&amp;goto=news">hide</a> | <a
                                href="item?id=23270100">4&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23269460'>
                        <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23269460' href='vote?id=23269460&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="http://ysflight.in.coocan.jp/FM/towns/Tsugaru/e.html"
                                             class="storylink">“Tsugaru” – FM Towns Emulator Project</a><span
                                class="sitebit comhead"> (<a href="from?site=in.coocan.jp"><span class="sitestr">in.coocan.jp</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23269460">37 points</span> by <a href="user?id=app4soft"
                                                                                           class="hnuser">app4soft</a>
                            <span class="age"><a href="item?id=23269460">6 hours ago</a></span> <span
                                id="unv_23269460"></span> | <a href="hide?id=23269460&amp;goto=news">hide</a> | <a
                                href="item?id=23269460">7&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23254871'>
                        <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23254871' href='vote?id=23254871&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://who-t.blogspot.com/2019/10/libinputs-bus-factor-is-1.html"
                                             class="storylink">Libinput's bus factor is 1 (2019)</a><span
                                class="sitebit comhead"> (<a href="from?site=who-t.blogspot.com"><span class="sitestr">who-t.blogspot.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23254871">152 points</span> by <a href="user?id=luu"
                                                                                            class="hnuser">luu</a> <span
                                class="age"><a href="item?id=23254871">10 hours ago</a></span> <span
                                id="unv_23254871"></span> | <a href="hide?id=23254871&amp;goto=news">hide</a> | <a
                                href="item?id=23254871">76&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23267937'>
                        <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23267937' href='vote?id=23267937&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.electronicdesign.com/technologies/embedded-revolution/article/21808278/the-economics-of-asics-at-what-point-does-a-custom-soc-become-viable"
                                class="storylink">The Economics of ASICs: At What Point Does a Custom SoC Become Viable?
                            (2019)</a><span class="sitebit comhead"> (<a href="from?site=electronicdesign.com"><span
                                class="sitestr">electronicdesign.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23267937">99 points</span> by <a href="user?id=amelius"
                                                                                           class="hnuser">amelius</a>
                            <span class="age"><a href="item?id=23267937">11 hours ago</a></span> <span
                                id="unv_23267937"></span> | <a href="hide?id=23267937&amp;goto=news">hide</a> | <a
                                href="item?id=23267937">29&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268671'>
                        <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268671' href='vote?id=23268671&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://blog.archive.org/2020/05/21/sizzle-then-fizzle-buzzy-titles-and-borrowing-digitized-books/"
                                class="storylink">Sizzle Then Fizzle: Buzzy Titles and Borrowing Digitized
                            Books</a><span class="sitebit comhead"> (<a href="from?site=archive.org"><span
                                class="sitestr">archive.org</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268671">12 points</span> by <a href="user?id=polm23"
                                                                                           class="hnuser">polm23</a>
                            <span class="age"><a href="item?id=23268671">3 hours ago</a></span> <span
                                id="unv_23268671"></span> | <a href="hide?id=23268671&amp;goto=news">hide</a> | <a
                                href="item?id=23268671">4&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23256782'>
                        <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23256782' href='vote?id=23256782&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://ai.googleblog.com/2018/09/the-what-if-tool-code-free-probing-of.html"
                                class="storylink">The What-If Tool: Code-Free Probing of Machine Learning Models
                            (2018)</a><span class="sitebit comhead"> (<a href="from?site=googleblog.com"><span
                                class="sitestr">googleblog.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23256782">122 points</span> by <a href="user?id=polm23"
                                                                                            class="hnuser">polm23</a>
                            <span class="age"><a href="item?id=23256782">13 hours ago</a></span> <span
                                id="unv_23256782"></span> | <a href="hide?id=23256782&amp;goto=news">hide</a> | <a
                                href="item?id=23256782">7&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268636'>
                        <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268636' href='vote?id=23268636&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://www.bbc.com/news/science-environment-52759804"
                                             class="storylink">Bumblebees’ ‘clever trick’ fools plants into
                            flowering</a><span class="sitebit comhead"> (<a href="from?site=bbc.com"><span
                                class="sitestr">bbc.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268636">50 points</span> by <a href="user?id=boulos"
                                                                                           class="hnuser">boulos</a>
                            <span class="age"><a href="item?id=23268636">9 hours ago</a></span> <span
                                id="unv_23268636"></span> | <a href="hide?id=23268636&amp;goto=news">hide</a> | <a
                                href="item?id=23268636">10&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268307'>
                        <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268307' href='vote?id=23268307&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="http://www.hercules-390.eu/" class="storylink">The Hercules
                            System/370, ESA/390, and z/Architecture Emulator</a><span class="sitebit comhead"> (<a
                                href="from?site=hercules-390.eu"><span
                                class="sitestr">hercules-390.eu</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268307">57 points</span> by <a href="user?id=emersonrsantos"
                                                                                           class="hnuser">emersonrsantos</a>
                            <span class="age"><a href="item?id=23268307">10 hours ago</a></span> <span
                                id="unv_23268307"></span> | <a href="hide?id=23268307&amp;goto=news">hide</a> | <a
                                href="item?id=23268307">26&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23271096'>
                        <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23271096' href='vote?id=23271096&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://usekrucible.com" class="storylink" rel="nofollow">Show HN:
                            Krucible – temporary Kubernetes clusters for testing and development</a><span
                                class="sitebit comhead"> (<a href="from?site=usekrucible.com"><span class="sitestr">usekrucible.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23271096">4 points</span> by <a href="user?id=BenElgar"
                                                                                          class="hnuser">BenElgar</a>
                            <span class="age"><a href="item?id=23271096">1 hour ago</a></span> <span
                                id="unv_23271096"></span> | <a href="hide?id=23271096&amp;goto=news">hide</a> | <a
                                href="item?id=23271096">3&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23265518'>
                        <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23265518' href='vote?id=23265518&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://blog.mozilla.org/firefox/firefox-extensions-work-from-home/"
                                             class="storylink">Firefox extensions to make remote work and school a
                            little better</a><span class="sitebit comhead"> (<a href="from?site=blog.mozilla.org"><span
                                class="sitestr">blog.mozilla.org</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23265518">450 points</span> by <a href="user?id=joeyespo"
                                                                                            class="hnuser">joeyespo</a>
                            <span class="age"><a href="item?id=23265518">16 hours ago</a></span> <span
                                id="unv_23265518"></span> | <a href="hide?id=23265518&amp;goto=news">hide</a> | <a
                                href="item?id=23265518">163&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23271260'>
                        <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23271260' href='vote?id=23271260&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.marketwatch.com/story/facebook-employees-may-face-pay-cut-if-they-move-to-cheaper-areas-to-work-from-home-2020-05-21"
                                class="storylink">Facebook employees may face pay cut if they move to cheaper areas to
                            remote work</a><span class="sitebit comhead"> (<a href="from?site=marketwatch.com"><span
                                class="sitestr">marketwatch.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23271260">38 points</span> by <a href="user?id=pseudolus"
                                                                                           class="hnuser">pseudolus</a>
                            <span class="age"><a href="item?id=23271260">1 hour ago</a></span> <span
                                id="unv_23271260"></span> | <a href="hide?id=23271260&amp;goto=news">hide</a> | <a
                                href="item?id=23271260">44&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23256901'>
                        <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23256901' href='vote?id=23256901&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p2137r0.html"
                                             class="storylink">Goals and Priorities for C++</a><span
                                class="sitebit comhead"> (<a href="from?site=open-std.org"><span class="sitestr">open-std.org</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23256901">118 points</span> by <a href="user?id=cyber1"
                                                                                            class="hnuser">cyber1</a>
                            <span class="age"><a href="item?id=23256901">14 hours ago</a></span> <span
                                id="unv_23256901"></span> | <a href="hide?id=23256901&amp;goto=news">hide</a> | <a
                                href="item?id=23256901">161&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268388'>
                        <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268388' href='vote?id=23268388&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://www.eso.org/public/news/eso2008/" class="storylink">ESO
                            Telescope Sees Signs of Planet Birth</a><span class="sitebit comhead"> (<a
                                href="from?site=eso.org"><span class="sitestr">eso.org</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268388">13 points</span> by <a href="user?id=lelf"
                                                                                           class="hnuser">lelf</a> <span
                                class="age"><a href="item?id=23268388">5 hours ago</a></span> <span
                                id="unv_23268388"></span> | <a href="hide?id=23268388&amp;goto=news">hide</a> | <a
                                href="item?id=23268388">discuss</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23270970'>
                        <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23270970' href='vote?id=23270970&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="item?id=23270970" class="storylink">Ask HN: OCR framework for
                            extracting formatted text</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23270970">19 points</span> by <a href="user?id=crocodiletears"
                                                                                           class="hnuser">crocodiletears</a>
                            <span class="age"><a href="item?id=23270970">2 hours ago</a></span> <span
                                id="unv_23270970"></span> | <a href="hide?id=23270970&amp;goto=news">hide</a> | <a
                                href="item?id=23270970">11&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23270541'>
                        <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23270541' href='vote?id=23270541&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.npr.org/2020/05/21/858155045/she-gets-calls-and-texts-meant-for-elon-musk-some-are-pretty-weird"
                                class="storylink">She Gets Calls and Texts Meant for Elon Musk. Some Are Pretty
                            Weird</a><span class="sitebit comhead"> (<a href="from?site=npr.org"><span class="sitestr">npr.org</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23270541">77 points</span> by <a href="user?id=jelliclesfarm"
                                                                                           class="hnuser">jelliclesfarm</a>
                            <span class="age"><a href="item?id=23270541">3 hours ago</a></span> <span
                                id="unv_23270541"></span> | <a href="hide?id=23270541&amp;goto=news">hide</a> | <a
                                href="item?id=23270541">81&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23258870'>
                        <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23258870' href='vote?id=23258870&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://www.youtube.com/watch?v=xTRBbFX7AxA" class="storylink">Howell
                            Torpedo 1896 [video]</a><span class="sitebit comhead"> (<a
                                href="from?site=youtube.com"><span class="sitestr">youtube.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23258870">55 points</span> by <a href="user?id=gus_massa"
                                                                                           class="hnuser">gus_massa</a>
                            <span class="age"><a href="item?id=23258870">11 hours ago</a></span> <span
                                id="unv_23258870"></span> | <a href="hide?id=23258870&amp;goto=news">hide</a> | <a
                                href="item?id=23258870">8&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268191'>
                        <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268191' href='vote?id=23268191&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.foxbusiness.com/markets/ibm-cuts-thousands-of-jobs-report"
                                class="storylink">IBM to cut thousands of jobs as coronavirus plays out</a><span
                                class="sitebit comhead"> (<a href="from?site=foxbusiness.com"><span class="sitestr">foxbusiness.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268191">121 points</span> by <a href="user?id=samfisher83"
                                                                                            class="hnuser">samfisher83</a>
                            <span class="age"><a href="item?id=23268191">10 hours ago</a></span> <span
                                id="unv_23268191"></span> | <a href="hide?id=23268191&amp;goto=news">hide</a> | <a
                                href="item?id=23268191">68&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268888'>
                        <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268888' href='vote?id=23268888&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://newcriterion.com/issues/2020/6/raphael-interrupted"
                                             class="storylink">Raphael, Interrupted</a><span
                                class="sitebit comhead"> (<a href="from?site=newcriterion.com"><span class="sitestr">newcriterion.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268888">16 points</span> by <a href="user?id=prismatic"
                                                                                           class="hnuser">prismatic</a>
                            <span class="age"><a href="item?id=23268888">6 hours ago</a></span> <span
                                id="unv_23268888"></span> | <a href="hide?id=23268888&amp;goto=news">hide</a> | <a
                                href="item?id=23268888">discuss</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23267827'>
                        <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23267827' href='vote?id=23267827&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://github.com/vinaypillai/ac-colors" class="storylink">Show HN:
                            I Made JavaScript Color Conversion Library for LCH/Lab/XYZ/RGB/Hex/HSL</a><span
                                class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23267827">47 points</span> by <a href="user?id=semantictags"
                                                                                           class="hnuser">semantictags</a>
                            <span class="age"><a href="item?id=23267827">11 hours ago</a></span> <span
                                id="unv_23267827"></span> | <a href="hide?id=23267827&amp;goto=news">hide</a> | <a
                                href="item?id=23267827">13&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23268420'>
                        <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23268420' href='vote?id=23268420&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a href="https://aip.scitation.org/doi/10.1063/1.5085163" class="storylink">Advances
                            in the experimental exploration of water’s phase diagram (2019)</a><span
                                class="sitebit comhead"> (<a href="from?site=scitation.org"><span class="sitestr">scitation.org</span></a>)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23268420">31 points</span> by <a href="user?id=segfaultbuserr"
                                                                                           class="hnuser">segfaultbuserr</a>
                            <span class="age"><a href="item?id=23268420">10 hours ago</a></span> <span
                                id="unv_23268420"></span> | <a href="hide?id=23268420&amp;goto=news">hide</a> | <a
                                href="item?id=23268420">discuss</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23270075'>
                        <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23270075' href='vote?id=23270075&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://www.phoronix.com/scan.php?page=news_item&amp;px=Linux-5.8-ASPM-PCIe-PCI-PCI-X"
                                class="storylink">Deleting a Few LOC Can Yield “Significant” Power Savings on Some Linux
                            Systems</a><span class="sitebit comhead"> (<a href="from?site=phoronix.com"><span
                                class="sitestr">phoronix.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23270075">52 points</span> by <a href="user?id=Memosyne"
                                                                                           class="hnuser">Memosyne</a>
                            <span class="age"><a href="item?id=23270075">4 hours ago</a></span> <span
                                id="unv_23270075"></span> | <a href="hide?id=23270075&amp;goto=news">hide</a> | <a
                                href="item?id=23270075">26&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class='athing' id='23269670'>
                        <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
                        <td valign="top" class="votelinks">
                            <center><a id='up_23269670' href='vote?id=23269670&amp;how=up&amp;goto=news'>
                                <div class='votearrow' title='upvote'></div>
                            </a></center>
                        </td>
                        <td class="title"><a
                                href="https://retrocomputing.stackexchange.com/questions/14876/why-does-the-80486-take-longer-to-execute-simple-instructions-than-complex-ones"
                                class="storylink">Why does the 80486 take longer to execute simple instructions than
                            complex ones?</a><span class="sitebit comhead"> (<a href="from?site=stackexchange.com"><span
                                class="sitestr">stackexchange.com</span></a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" id="score_23269670">47 points</span> by <a href="user?id=segfaultbuserr"
                                                                                           class="hnuser">segfaultbuserr</a>
                            <span class="age"><a href="item?id=23269670">5 hours ago</a></span> <span
                                id="unv_23269670"></span> | <a href="hide?id=23269670&amp;goto=news">hide</a> | <a
                                href="item?id=23269670">12&nbsp;comments</a></td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr class="morespace" style="height:10px"></tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="title"><a href="news?p=2" class="morelink" rel="next">More</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><img src="s.gif" height="10" width="0">
                <table width="100%" cellspacing="0" cellpadding="1">
                    <tr>
                        <td bgcolor="#ff6600"></td>
                    </tr>
                </table>
                <br>
                <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
                    <form method="get" action="//hn.algolia.com/">Search:
                        <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false"
                               autocapitalize="off" autocomplete="false"></form>
                </center>
            </td>
        </tr>
    </table>
</center>
