<body>
<div class="item">
    <a class="title" href="https://somewhere.test/1">Title1</a>
</div>
<div class="item">
    <a class="title" href="https://somewhere.test/2">Title2</a>
</div>
<div class="item">
    <a class="title" href="https://somewhere.test/3">Title3</a>
</div>
<div class="item">
    <a class="title" href="https://somewhere.test/4">Title4</a>
</div>
</body>
